# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
build/
client/dist/
client/build/
server/dist/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac OS
.DS_Store

# PDFs
Ai Incident Response Platform Prd Document.pdf
Ai Incident Response Platform Srs Document.pdf
*.pdf

documents

# Root workspace config
/package.json
/package-lock.json

server/node_modules
client/node_modules

server/package-lock.json
client/package-lock.json

# --- Client gitignore ---
# Logs
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?